/* You can add global styles to this file, and also import other style files */
$green-color: #158C5E;
$white-color: #FFFFFF;

html, body {
	font-family: 'Calibri', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}
